@charset "UTF-8";

.footer-flex {
	display: flex;
	overflow: hidden;
	padding-bottom: 24px;
}

.flex-inner {
	float: left;
	width: 534px;
}

.flex-inner-1 {
	display: flex;
	overflow: hidden;
	padding-top: 16px;
}

.flex-inner-2 {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	font-size: 14px;
	color: rgb(51, 51, 51);
	line-height: 22px;
	letter-spacing: -0.2px;
}

.flex-inner-dd {
	color: rgb(153, 153, 153);
}

.flex-inner-b1 {
	padding-top: 29px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}

.flex-inner-b2 {
	display: flex;
    overflow: hidden;
    width: 100%;
    padding-bottom: 29px;
}

.flex-innder-b3 {
	padding-right: 16px;
}

.flex-innder-b4 {
	padding-left: 6px;
}

.flex-innder-atag {
	font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 18px;
    font-weight: 400;
}

.btn-footer {
	display: block;
    width: 140px;
    height: 40px;
    margin: 3px 16px 0px 0px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 22px;
    text-align: center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol, ul {
    list-style-type: none;
}

.sign-in-form {
	min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgb(233, 236, 239);
}

.sign-in-form-title {
	margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}

.sign-in-form-body {
	width: 640px;
    margin: 0px auto;
}

.sign-in-form-body-main {
	padding : 0px;
}

.sign-in-form-body-main-list {
	display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}

.sing-in-form-name {
	width: 139px;
    padding-top: 12px;
}

.sing-in-form-value {
	    flex: 1 1 0%;
	    position: relative;
    	height: 48px;
}

.sing-in-form-btn {
	width: 120px;
    margin-left: 8px;
}

.sing-in-form-btn-round {
	height: 44px;
    border-radius: 3px;
}

.pd {
	padding-top: 1rem;
}